<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <form ng-submit="postProduct()">
          <h3 class="display-4 text-muted">Add Product</h3>
          <hr>
          <div class="form-group">
            <label>Product Name</label>
            <input type="text" class="form-control" ng-model="product.product_name" placeholder="Product Name" required>
          </div>
          <div class="form-group">
            <label>Category</label>
            <select ng-model="product.category" class="form-control" required>
              <option value="Homeware">Homeware</option>
              <option value="Food Stuffs">Food Stuffs</option>
            <option value="Soft Drinks">Soft Drinks</option>
              <option value="Phones">Phones</option>
            <option value="Men's Clothing">Men's Clothing</option>
            <option value="Swimwear">Swimwear</option>
            <option value="Ladies' Wear'">Ladies' Wear</option>
            <option value="Shoes">Shoes</option>
             <option value="Belts">Belts</option>
              <option value="Socks and Stockings">Socks and Stockings</option>
            <option value="Accessories">Accessories</option>
            <option value="Software">Software</option>
          </select>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" ng-model="product.price" placeholder="Price" required>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="product.description" placeholder="Description" required></textarea>
          </div>
          <p>
            <button type="submit" class="btn btn-success">Save Product</button>
            <a href="#/products" class="btn btn-danger">Cancel</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>