<div class="jumbotron" style="background-color: white;" ng-init="getCart()">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12">
            <div class="panel panel-default card-shadow">
                <div class="panel-heading">
                    <p>
                        <h4 ng-hide="{{orders.length < 1}}" class="display-4 text-center">My Basket</h4>
                        <h5 ng-show="{{orders.length < 1}}">Sorry, your basket is empty.</h5>
                        <h5 class="text-center text-info" ng-show="{{orders.length > 0}}"><strong>Total Charge: {{ cart.totalPrice | currency:'KES ':2 }}</strong></h4>
                    </p>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr ng-repeat="item in items" id="item_{{item.product._id}}">
                            <td class="text-left">
                                {{ item.qty }} x {{ item.product.product_name }}
                            </td>
                            <td class="text-right">
                                {{ item.price| currency:'':2 }}
                            </td>
                            <td>
                                <button class="btn btn-danger" ng-click="reduceItem(item.product._id)"><i class="fa fa-minus"></i></button>
                            </td>
                            <td>
                                <a class="btn btn-success" ng-href="#/products/about/{{item.product._id}}"><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <p class="text-center text-muted">
                        {{ footnote }}
                    </p>
                </div>
                <div class="panel-footer clearfix">
                    <button ng-click="checkout()" ng-hide="{{orders.length < 1}}" class="btn btn-primary btn-lg btn-block">
                                Pay {{ cart.totalPrice | currency:'KShs. ':2 }}
                            </button>
                </div>
            </div>
        </div>
    </div>
</div>