<div ng-init="getJobs()">

	<div class="row">
		<div class="input-group input-group-lg">
			<input type="text" class="form-control card-shadow" placeholder="Search for anything..." ng-model="search"></div>
	</div>
	<div class="row">
		<div class="card-columns">
			<div class="card card-shadow" ng-repeat="job in jobs | filter:search">
				<div class="card-block">
					<h3 class="card-title"><strong>{{job.job_title}}</strong></h3>
					<p class="text-muted">
						<i class="fa fa-clock"></i> Posted
						<span am-time-ago="job.created_on" am-preprocess="unix"></span> by <i class="fa fa-user"></i> <a ng-href="#">{{job.job_owner}}</a>
					</p>
					<hr />
					<p class="card-text">{{job.job_description}}</p>
					<br />
					<h3><span class="badge badge-default">{{job.payment_offer | currency:'KES':2}}</span></h3>
					<div class="card-footer">
						<div class="row">
							<div class="col-md-3">
								<a ng-href="#/jobs/edit/{{job._id}}" class="btn btn-info"><i class="fa fa-edit"></i></a>
							</div>
							<div class="col-md-3">
								<button ng-click="removeJob(job._id)" class="btn btn-danger center-block"><i class="fa fa-trash"></i></a>
							</div>
							<div class="col-md-3">
								<a ng-href="#/jobs/about/{{job._id}}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
							</div>
							<div class="col-md-3">
								<button ng-click="addToCart(job._id)" class="btn btn-warning"><i class="fa fa-shopping-bag"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>