<div class="container" ng-init="getOrders()">
    <div class="jumbotron" style="background-color: white;">
        <div class="row">
            <div class="col-md-6 col-sm-5 col-xs-12">
                <h4 class="text-left"><strong>{{orders.length}} Orders worth {{total | currency:'KES':2}}</strong></h4>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" placeholder="Search Orders" ng-model="search" />
            </div>
        </div>
        <div class="row">
            <table class="table table-condensed table-responsive table-sm" id="ordersTable">
                <tr>
                    <th>Order #</th>
                    <th>Customer</th>
                    <th>Description</th>
                    <th class="text-right">Total Units</th>
                    <th class="text-right">Total Price</th>
                    <th class="text-center">Payment Status</th>
                    <th class="text-center">Fulfillment Status</th>
                </tr>
                <tr ng-repeat="order in orders | filter:search | orderBy:'-order_date'" ng-show="{{orders.length > 0}}">
                    <td>
                        <strong> {{order.order_no}} </strong>
                    </td>
                    <td>
                        <a ng-href="#purchase-history"> {{order.name}} </a>
                    </td>
                    <td>
                        <h5 ng-repeat="item in order.items">
                            {{item.qty}} x {{item.product.product_name}} @ {{item.product.price | currency:'':2}}
                        </h5>
                    </td>
                    <td class="text-right">
                        {{order.order_quantity}}
                    </td>
                    <td class="text-right">
                        <strong> {{order.order_total | currency:'':2}} </strong>
                    </td>
                    <td class="text-center">
                            <input type="checkbox" class="custom-control-input" ng-model="order.paid">
                    </td>
                    <td class="text-center">
                        <input type="checkbox" class="custom-control-input" ng-model="order.fulfillment">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>