<div class="container">
    <div class="jumbotron" ng-init="getProduct()">
        <p>
            <h3><b>{{product.product_name}}</b></h3>
            <h3>
                <span class="label label-danger">{{product.price | currency:'KES ':0}}<sup>00</sup><span>
            </h3>
            <i class="fa fa-clock-o"></i> Posted
            <span am-time-ago="product.created_on" am-preprocess="unix"></span> in
                <i class="fa fa-user"></i> <a ng-href="#/products/category/{{product.category}}"> {{product.category}}</a>
        </p>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" ng-src="{{product.images[0]}}" alt="{{product.product_name}}" />
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h4 style="padding: 20px;">{{product.description}}</h4>
                    <br />
                    <a class="btn btn-info btn-sm" href="#/products/edit/{{product._id}}" class="pull-right"><i class="fa fa-pencil"></i></a>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6 col-xs-12 col-md-4 col-lg-4" ng-repeat="image in product.images">
                        <div class="thumbnail card-shadow">
                            <div class="img-wrapper">
                                <a href="#/products/{{product._id}}">
                                    <img class="img-responsive" ng-src="{{image}}" alt="{{product.product_name}}" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--div class="row">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" data-target="#gallery" role="tab">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#description" role="tab">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#variants" role="tab">Variants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" data-target="#reviews" role="tab">Reviews</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade" id="gallery">
                  
                </div>
                <div class="tab-pane fade" id="reviews" role="tabpanel"></div>
                <div class="tab-pane fade" id="description" role="tabpanel">
                    <strong>{{product.description}}</strong>
                </div>
                <div class="tab-pane fade" id="variants" role="tabpanel"></div>
            </div>
           </div>-->
                       
            <div class="row">
                 <button ng-click="addToCart(product._id)" class="btn btn-warning btn-lg btn-block">
                   <i class="fa fa-shopping-bag"></i> Add to Basket
                 </button>
            </div>
            </div>
        </div>
    </div>
</div>