<div class="container" ng-init="getProducts()" style="-webkit-user-drag:none; -webkit-user-drag:text;">
	<div class="row">
		<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12" style="padding: 1px;" ng-repeat="product in products |orderBy:'-created_on' | filter:search">
			<div class="thumbnail card-shadow">
				<div class="img-wrapper">
					<a href="#/products/{{product._id}}">
						<img class="img-responsive" ng-src="{{product.images[0]}}" alt="{{product.product_name}}" />
					</a>
				</div>
				<div class="caption clearfix">
					<h5><b>{{product.product_name}}</b></h5>
					<!--<i class="fa fa-heart" ng-click="addLikes(product._id)"></i> {{product.likes | number}} people love this!-->
					<p>
						From <a ng-href="#/stores/{{product.store_id}}">{{product.store_name}}</a>
					</p>
					<p>
						<h3>
							<label class="label label-danger pull-left">{{product.price | currency:'KES ':2}}</label>
						</h3>
						<button ng-click="addToCart(product._id)" class="btn btn-default pull-right">
                   			Add to <i class="fa fa-shopping-basket"></i>
                		 </button>
					</p>

				</div>
			</div>
		</div>
	</div>
</div>