<div class="container jumbotron col-md-offset-4 col-md-4 col-xs-12 col-sm-offset-2 col-sm-8" style="margin-top: 50px; background-color: #fff;">
	<form class="form-horizontal" ng-submit="register()">

		<h2 class="text-primary">Register Account</h2>
		<p class="text-warning"></p>
		<div class="form-group">
			<label for="username">Username</label>
			<input class="form-control" type="text" ng-model="user.username" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="email">Email address</label>
			<input class="form-control" type="text" ng-model="user.email" name="email" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="fullname">Full Name</label>
			<input class="form-control" type="text" ng-model="user.fullname" name="fullname" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" type="password" ng-model="user.password" name="password" placeholder="Password">
		</div>
		<input type="submit" value="Register" class="btn btn-primary btn-lg" />
	</form>
</div>