<div class="container">
	<div class="row">
		<div class="col-md-4 col-lg-3 col-sm-12 col-xs-12" ng-repeat="store in stores | filter:search">
			<div class="thumbnail card-shadow">
				<div class="img-wrapper">
					<a href="#/stores/{{store._id}}">
						<img class="img-responsive" ng-src="{{store.image}}" alt="{{store.store_name}}" />
					</a>
				</div>
				<div class="caption clearfix">
					<h5>{{store.store_name}}</h5>
					<p>
						<small style="overflow: ellipsis;">
							{{store.about}}
						</small>
					</p>
					<p>
						<span class="badge"><i class="fa fa-home"></i> {{store.store_type}}</span>
					</p>
					<p>
						<i class="fa fa-heart" ng-click="addLikes(store._id)"></i> {{store.visits | number}}

						<a ng-href="#/stores/{{store._id}}" class="btn btn-danger btn-sm pull-right"><i class="fa fa-eye"></i> Check us Out</a>
					</p>

				</div>
			</div>
		</div>
	</div>
</div>