<div class="container">
  <div class="jumbotron" ng-init="getStore()">
    <div class="row">
      <div class="col-md-2 col-sm-12 col-xs-12">
        <img class="img-circle" height="150" width="150" ng-src="{{store.image}}" />
      </div>
      <div class="col-md-10">
        <h3>{{store.store_name}} |
          <a class="btn btn-default btn-sm" href="#/stores/edit/{{store._id}}">
            <i class="fa fa-cog"></i> Settings</a>
          <a class="btn btn-success btn-sm" href="#/products/add">
            <i class="fa fa-plus"></i> Add Product</a>
        </h3>
        <p class="text-left">
          {{ store.store_type }} store by <i class="fa fa-user"></i> <a ng-href="#/user/settings/{{owner._id}}"> {{owner.fullname}}</a>   <br />       | We accept
          <class="label label-success" ng-repeat="payment in store.accepted_payments">
            <i class="fa fa-check-circle"></i> {{payment}}
        </p>
        <p>
          {{store.about}}
        </p>
        <i class="fa fa-phone"></i> {{store.contact.mobile}} |
        <i class="fa fa-envelope"></i> {{store.contact.email}} |
        <i class="fa fa-globe"></i> {{store.store_location}}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-3 col-xs-12 col-sm-12" style="padding: 1px;" ng-repeat="product in storeProducts | orderBy:'-created_on'">
        <div class="thumbnail card-shadow">
          <div class="img-wrapper">
            <a href="#/products/{{product._id}}">
              <img class="img-responsive" ng-src="{{product.images[0]}}" alt="{{product.product_name}}" />
            </a>
          </div>
          <div class="caption" style="margin: 10px;">
            {{product.likes | number}} likes
            <!--<a ng-href="#/products/edit/{{product._id}}" class="pull-right"><i class="fa fa-trash"></i></a>-->
            <a class="btn btn-info btn-sm" href="#/products/edit/{{product._id}}" class="pull-right"><i class="fa fa-pencil"></i></a>
             <a class="btn btn-danger btn-sm" ng-click="removeProduct(product._id)" class="pull-right"><i class="fa fa-trash"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>