.jumbotron{
  background-color: white;
  text-align: center;
}

.card-footer{
  background-color: white;
  position: relative;
}

#image{
  position: relative;
}

#badge-round{
  font-family: 'Varela Round';
  background-color: purple;
  color: white;
  position: absolute;
  font-size: 15pt;
  text-align: center;
  top: -10px;
  right: -10px;
  border: 3px solid white;
  border-radius: 50%;
  padding:2px;
  width:40px;
  height: 40px;
}

#badge {
  font-family: 'Varela Round';
  background-color: purple;
  color: white;
  position: absolute;
  bottom: 0px;
  padding:5px;
  margin:0px;
  width:100%;
  /* border-top-right-radius: 60%; */
  font-size: 11pt;
  vertical-align: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.65;
  filter: alpha(opacity=65);
}

.card{
  margin: 3%;
   box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.3);
    border-radius: 0%;
}