body {
	padding-top:70px;
	width: 100%;
    height: 100%;
	width: 100%;
    height: 100%;
	background-color: whitesmoke;
    font-family: 'Segoe UI';
}
.card{
	border-radius: 80;
}
a {
	color: #00B7FF;
}

.img{width: 100%}

.submit-btn {
	background-color: #b1dbff;
	margin: 10px 0 10px 0;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: #f2f9ff;
	
}
.even {
	background-color: #eceff3;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}